#!/bin/bash
# Disconnected Operator Catalog Mirror and Minor Upgrade
# Variables to set, suit to your installation

export OCP_REGISTRY=quay.io/openshift-release-dev/ocp-release
export OCP_RELEASE={{ provisioner_cluster_version.split('.')[0] }}.{{ provisioner_cluster_version.split('.')[1] }}
export ARCHITECTURE=x86_64
export SIGNATURE_BASE64_FILE="signature-sha256-$OCP_RELEASE.yaml"
export OCP_PULLSECRET_AUTHFILE='{{ pull_secret_path }}'
export LOCAL_REGISTRY={{ provisioner_cluster_registry_var }}
export LOCAL_REGISTRY_MIRROR_TAG=/ocp4/openshift4
export LOCAL_REGISTRY_INDEX_TAG=olm-index/redhat-operator-index:v$OCP_RELEASE
export LOCAL_REGISTRY_INDEX_TAG_COMM=olm-index/community-operator-index:v$OCP_RELEASE
export LOCAL_REGISTRY_IMAGE_TAG=olm

# Set these values to true for the catalog and miror to be created
export RH_OP='true'
export CERT_OP='false'
export COMM_OP='true'
export MARKETPLACE_OP='false'

export RH_OP_INDEX="registry.redhat.io/redhat/redhat-operator-index:v${OCP_RELEASE}"
export CERT_OP_INDEX="registry.redhat.io/redhat/certified-operator-index:v${OCP_RELEASE}"
export COMM_OP_INDEX="registry.redhat.io/redhat/community-operator-index:v${OCP_RELEASE}"
export MARKETPLACE_OP_INDEX="registry.redhat.io/redhat-marketplace-index:v${OCP_RELEASE}"
export RH_OP_PACKAGES='local-storage-operator'
export COMM_OP_PACKAGES='hive-operator'

if [ $# -lt 1 ]
then
        echo "Usage : $0 mirror|mirror-olm|sync"
        exit
fi

podman_login() {
podman login $LOCAL_REGISTRY --username {{ provisioner_cluster_registry_user }} --password {{ provisioner_cluster_registry_password }}
podman login registry.redhat.io --username {{ redhat_subscription_user }} --password {{ redhat_subscription_password }}

}

mirror () {


# Mirror redhat-operator index image

if [ "${RH_OP}" = true ]
  then
    podman_login
    echo "{{ binary_path }}/opm index prune --from-index $RH_OP_INDEX --packages $RH_OP_PACKAGES --tag $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG"
    {{ binary_path }}/opm index prune --from-index $RH_OP_INDEX --packages $RH_OP_PACKAGES --tag $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG
echo "podman push $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG"
    podman push $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG
    echo "{{ binary_path }}/oc adm catalog mirror $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG $LOCAL_REGISTRY/$LOCAL_REGISTRY_IMAGE_TAG --registry-config=${XDG_RUNTIME_DIR}/containers/auth.json"
    {{ binary_path }}/oc adm catalog mirror $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG $LOCAL_REGISTRY/$LOCAL_REGISTRY_IMAGE_TAG

    cat > redhat-operator-index-manifests_catalogsource.yaml << EOF
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: my-operator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG
  displayName: Temp Lab
  publisher: templab
  updateStrategy:
    registryPoll:
      interval: 30m
EOF

    echo ""
    echo "To apply the Red Hat Operators catalog mirror configuration to your cluster, do the following once per cluster:"
    echo "{{ binary_path }}/oc apply -f ./redhat-operator-index-manifests/imageContentSourcePolicy.yaml"  
    echo "{{ binary_path }}/oc apply -f ./redhat-operator-index-manifests/catalogsource.yaml"  
fi

if [ "${CERT_OP}" = true ]
  then
    "echo 1"
fi  
  
if [ "${COMM_OP}" = true ]
  then
    podman_login
    echo "{{ binary_path }}/opm index prune --from-index $COMM_OP_INDEX --packages $COMM_OP_PACKAGES --tag $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG_COMM"
    {{ binary_path }}/opm index prune --from-index $COMM_OP_INDEX --packages $COMM_OP_PACKAGES --tag $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG_COMM
    GODEBUG=x509ignoreCN=0 podman push --tls-verify=false $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG_COMM
    GODEBUG=x509ignoreCN=0 {{ binary_path }}/oc adm catalog mirror $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG_COMM $LOCAL_REGISTRY/$LOCAL_REGISTRY_IMAGE_TAG

    cat > community-operator-index-manifests_catalogsource.yaml << EOF
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: my-community-operator-catalog
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: $LOCAL_REGISTRY/$LOCAL_REGISTRY_INDEX_TAG_COMM
  displayName: Temp Lab
  publisher: templab
  updateStrategy:
    registryPoll:
      interval: 30m
EOF

    echo ""
    echo "To apply the Red Hat Operators catalog mirror configuration to your cluster, do the following once per cluster:"
    echo "oc apply -f ./community-operator-index-manifests/imageContentSourcePolicy.yaml"  
    echo "oc apply -f ./community-operator-index-manifests/catalogsource.yaml"  

fi 

if [ "${MARKETPLACE_OP}" = true ]
  then
    "echo 3"
fi 

}

mirror-olm () {
    podman_login
# hack for broken operators

for packagemanifest in $({{ binary_path }}/oc get packagemanifest -n openshift-marketplace -o name) ; do
  for package in $({{ binary_path }}/oc get $packagemanifest -o jsonpath='{.status.channels[*].currentCSVDesc.relatedImages}' | sed "s/ /\n/g" | tr -d '[],' | sed 's/"/ /g') ; do
    skopeo copy docker://$package docker://$LOCAL_REGISTRY/$LOCAL_REGISTRY_IMAGE_TAG/openshift4-$(basename $package) --all
  done
done

}

sync () {
	podman_login
	jq -s '.[0] * .[1]' $OCP_PULLSECRET_AUTHFILE $XDG_RUNTIME_DIR/containers/auth.json > ./merged_auth.json

    {{ binary_path }}/oc adm -a ./merged_auth.json release new \
       --from-release=${OCP_REGISTRY}:{{ provisioner_cluster_version }}-x86_64 \
       --mirror=${LOCAL_REGISTRY}/ocp4 \
       --to-image=${LOCAL_REGISTRY}/${LOCAL_REPOSITORY}:{{ provisioner_cluster_version }}-x86_64

}

case "$1" in
	mirror)
		mirror
		;;
	mirror-olm)
		mirror-olm
		;;
	sync)
		sync
		;;
	*)
		echo $"Usage: $0 mirror|mirror-olm|sync"
		exit 1
esac

exit 0
